[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/Atemu/nixpkgs
[submodule "nixos-config"]
	path = nixos-config
	url = https://github.com/Atemu/nixos-config
[submodule "nixpkgs-24.11"]
	path = nixpkgs-24.11
	url = https://github.com/Atemu/nixpkgs